<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boostrap Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-info">
      <div class="container-fluid" id="navBar">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item"v-if="ifLoggedIn">
              <a class="nav-link" href="./signIn.html">登出</a>
            </li>
            <li class="nav-item" v-else="ifLoggedIn">
              <a class="nav-link" href="./signIn.html">登入</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>

    
<div class="container">
  <div id="app">
    <div class="container" v-if="ifLoggedIn">
      <div class="row py-3">
        <div class="col-md-7">
          <h2>產品列表</h2>
          <table class="table table-hover mt-4">
            <thead>
              <tr>
                <th width="150">產品名稱</th>
                <th width="120">
                  原價
                </th>
                <th width="120">
                  售價
                </th>
                <th width="150">
                  是否啟用
                </th>
                <th width="120">
                  查看細節
                </th>
              </tr>
            </thead>
            <!--練習v-for渲染-->
            <tbody v-for="item in products" :key="item.id">  
              <tr>
                <td width="150">
                  {{ item.title }}
                </td>
                <td width="120">
                  {{ item.origin_price }}
                </td>
                <td width="120">
                  {{ item.price }}
                </td>
                <td width="150">
                  <!--練習：遇到dash要記得加上引號＋渲染部分：三元運算子-->
                  <span :class="{'text-success': item.is_enabled}">{{ item.is_enabled ? '啟用' : '未啟用' }}</span>
                </td>
                <td width="120">
                  <button type="button" class="btn btn-secondary readMore" @click="viewProductDetail(item)">查看細節</button>
                </td>
                <td width="120">
                  <button type="button" class="btn btn-dark readMore" @click="deleteItem(item)">刪除產品</button>
                </td>
              </tr>
            </tbody>
          </table>
          <p>目前有 <span>{{ products.length }}</span> 項產品</p>
        </div>
        <div class="col-md-5">
          <h2>單一產品細節</h2>
<template v-if="tempProduct.id">
            <div class="card mb-3">
              <img :src="tempProduct.imageUrl" class="card-img-top primary-image" alt="主圖">
              <div class="card-body">
                <h5 class="card-title">
                  {{ tempProduct.title }}
                  <span class="badge bg-primary ms-2">{{ tempProduct.category }}</span>
                </h5>
                <p class="card-text">商品描述：{{ tempProduct.description }}</p>
                <p class="card-text">商品內容：{{ tempProduct.content }}</p>
                <div class="d-flex">
                  <p class="card-text me-2">{{ tempProduct.price }}</p>
                  <p class="card-text text-secondary"><del>{{ tempProduct.origin_price }}</del></p>
                  元 / {{ tempProduct.unit }}
                </div>
              </div>
            </div>
          <template v-for="perPic in tempProduct.imagesUrl">
              <img :src="perPic" alt="" class="images m-2 rounded">
            </template>
            </template>
          <p v-else class="text-secondary">請選擇一個商品查看</p>
        </div>
      </div>
    </div>
    <div class="notLogged text-secondary" v-else="ifLoggedIn">
      <h2>請登入才能查看產品頁面！</h2>
    </div>
  </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js'
integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=='
crossorigin='anonymous'></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<script type="module">
  const api_Url = 'https://vue3-course-api.hexschool.io/v2/';
  const api_Path = 'lk1025cina';
  //記得加上type="module"
  //引入Vue cdn 方法
  const { createApp } = Vue;
  //外部引入資料
  const products = [
  {
    category: "甜甜圈",
    content: "尺寸：14x14cm",
    description: "濃郁的草莓風味，中心填入滑順不膩口的卡士達內餡，帶來滿滿幸福感！",
    id: "-L9tH8jxVb2Ka_DYPwng",
    is_enabled: 1,
    origin_price: 150,
    price: 99,
    title: "草莓莓果夾心圈",
    unit: "個",
    num: 10,
    imageUrl: "https://images.unsplash.com/photo-1583182332473-b31ba08929c8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzR8fGRvbnV0fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60",
    imagesUrl: [
      "https://images.unsplash.com/photo-1626094309830-abbb0c99da4a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2832&q=80",
      "https://images.unsplash.com/photo-1559656914-a30970c1affd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTY0fHxkb251dHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
    ]
  },
  {
    category: "蛋糕",
    content: "尺寸：6寸",
    description: "蜜蜂蜜蛋糕，夾層夾上酸酸甜甜的檸檬餡，清爽可口的滋味讓人口水直流！",
    id: "-McJ-VvcwfN1_Ye_NtVA",
    is_enabled: 16,
    origin_price: 1000,
    price: 900,
    title: "蜂蜜檸檬蛋糕",
    unit: "個",
    num: 1,
    imageUrl: "https://images.unsplash.com/photo-1627834377411-8da5f4f09de8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80",
    imagesUrl: [
      "https://images.unsplash.com/photo-1618888007540-2bdead974bbb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=987&q=80",
    ]
  },
  {
    category: "蛋糕",
    content: "尺寸：6寸",
    description: "法式煎薄餅加上濃郁可可醬，呈現經典的美味及口感。",
    id: "-McJ-VyqaFlLzUMmpPpm",
    is_enabled: 1,
    origin_price: 700,
    price: 600,
    title: "暗黑千層",
    unit: "個",
    num: 15,
    imageUrl: "https://images.unsplash.com/photo-1505253149613-112d21d9f6a9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDZ8fGNha2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60",
    imagesUrl: [
      "https://images.unsplash.com/flagged/photo-1557234985-425e10c9d7f1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA5fHxjYWtlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60",
      "https://images.unsplash.com/photo-1540337706094-da10342c93d8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDR8fGNha2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
    ]
  }
]
const cookieToken = document.cookie.replace(/(?:(?:^|.*;\s*)signInToken\s*\=\s*([^;]*).*$)|^.*$/, "$1");
axios.defaults.headers.common['Authorization'] = cookieToken;
 //axios.get外部資料
 //Vue Option API 架構
 const App = {
  //資料
  data(){
    return{
      //產品集合資料格式;
      products:[],
      //單一產品物件
      tempProduct:{},
      //是否登入
      ifLoggedIn:false
    }
  },
  //方法函式
  methods:{
    //按鈕觸發：顯示單一產品細節
    viewProductDetail(item){
      //使用物件淺拷貝：避免物件傳參考
      this.tempProduct = { ...item };
      console.log(this.tempProduct);
    },
    deleteItem(item){
      //找到該產品id在資料集中的索引index
      alert('確認要刪除產品嗎？');
      const deleteId = this.products.findIndex(el => el.id == item.id)
      this.products.splice(deleteId, 1);
      this.tempProduct = {};
    },
    checkLogged(){
      axios.post(`${api_Url}api/user/check`)
        .then(res=>{
            console.log(res.data);
            this.ifLoggedIn = true;
        })
        .catch(err =>{
            console.log(err.data);
            alert('你尚未登入，無權限觀看產品。')
            location.href = 'signIn.html';
        })
    },
    axiosGet(){
      //https://vue3-course-api.hexschool.io/v2/api/lk1025cina/products/all
      axios.get(`${api_Url}api/${api_Path}/products/all`)
      .then(res=>{
        console.log(res.data.products);
        this.products = res.data.products;
      })
      .catch(err=>{
        console.log(err.data)
      })
    }

  },
  //生命週期
  created(){
   this.checkLogged();
   //this.products = products;
   this.axiosGet();
  }
 }
//生成元件，掛載到html元素
 createApp(App).mount('#app');

</script>

    <footer class="footer">
    </footer>
   
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script type="module">
    const api_Url = 'https://vue3-course-api.hexschool.io/v2/';
    const api_Path = 'lk1025cina';
      const cookieToken = document.cookie.replace(/(?:(?:^|.*;\s*)signInToken\s*\=\s*([^;]*).*$)|^.*$/, "$1");
      axios.defaults.headers.common['Authorization'] = cookieToken;
      //調用Vue
      const { createApp } = Vue;
      //元件
      const nav = {
       data(){
        return{
        //是否登入
        ifLoggedIn:false
        }
       },
       methods:{
        //檢查是否登入
        checkLogged(){
      axios.post(`${api_Url}api/user/check`)
        .then(res=>{
            console.log(res.data);
            this.ifLoggedIn = true;
        })
        .catch(err =>{
            console.log(err.data);
        })
    }
       },
       //生命週期：初始化
       mounted(){
       this.checkLogged();
       }
      }
      //生成元件＋綁定html元素
      createApp(nav).mount('#navBar')
    </script>
  </body>

</html>