<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boostrap Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-info">
      <div class="container-fluid" id="navBar">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>

    
<div class="container">
  <div id="appTest">
    <div class="container">
      <div class="text-end mt-4">
        <button type="button" class="btn btn-primary" id="modalBtn" @click="openModal">
          建立新的產品
        </button>
      </div>
      <table class="table mt-4">
        <thead>
          <tr>
            <th width="120" >
              分類
            </th>
            <th>產品名稱</th>
            <th width="120">
              原價
            </th>
            <th width="120">
              售價
            </th>
            <th width="100">
              是否啟用
            </th>
            <th width="120">
              編輯
            </th>
          </tr>
        </thead>
        <tbody v-for="item in products">
          <tr>
            <td> {{ item.category }} </td>
            <td> {{ item.title }} </td>
            <td> {{ item.origin_price }}</td>
            <td> {{ item.price }}</td>
            <td>
              <span class="text-success" v-if="item.is_enabled">啟用</span>
              <span v-else="item.is_enabled">未啟用</span>
            </td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-outline-primary btn-sm">
                  編輯
                </button>
                <button type="button" class="btn btn-outline-danger btn-sm">
                  刪除
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Modal -->
    <div id="productModal" ref="productModal" class="modal fade" tabindex="-1" aria-labelledby="productModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content border-0">
          <div class="modal-header bg-dark text-white">
            <h5 id="productModalLabel" class="modal-title">
              <span>新增產品</span>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="mb-2">
                  <div class="mb-3">
                    <label for="imageUrl" class="form-label">主要圖片</label>
                    <input type="text" class="form-control"
                           placeholder="請輸入圖片連結" v-model="tempProduct.imageUrl">
                  </div>
                  <img class="img-fluid" src="" alt="">
                </div>
                <div>
                    <h3>多圖新增</h3>
                    <div v-if="ifManyImages">
                        <div class="mb-3">
                        <label for="imageUrl" class="form-label">次要圖片</label>
                        <input type="text" class="form-control"
                               placeholder="請輸入圖片連結" v-model="imgsUrl">
                        </div>
                        <div class="morePic"></div>
                     <button class="btn btn-outline-danger btn-sm d-block w-100 mb-5" @click="addUrlInput">
                            再加一張
                      </button>
                      <button class="btn btn-outline-danger btn-sm d-block w-100" @click="hideImagesUrl">
                        取消新增次要圖片
                      </button>
                    </div>
                  <button class="btn btn-outline-primary btn-sm d-block w-100" @click="showImagesUrl" v-else="ifManyImages">
                    新增圖片
                  </button>
                </div>

              </div>
              <div class="col-sm-8">
                <div class="mb-3">
                  <label for="title" class="form-label">標題</label>
                  <input id="title" type="text" class="form-control" placeholder="請輸入標題" v-model="tempProduct.title">
                </div>

                <div class="row">
                  <div class="mb-3 col-md-6">
                    <label for="category" class="form-label">分類</label>
                    <input id="category" type="text" class="form-control"
                           placeholder="請輸入分類" v-model="tempProduct.category">
                  </div>
                  <div class="mb-3 col-md-6">
                    <label for="price" class="form-label">單位</label>
                    <input id="unit" type="text" class="form-control" placeholder="請輸入單位" v-model="tempProduct.unit">
                  </div>
                </div>

                <div class="row">
                  <div class="mb-3 col-md-6">
                    <label for="origin_price" class="form-label">原價</label>
                    <input id="origin_price" type="number" min="0" class="form-control" placeholder="請輸入原價" v-model="tempProduct.original_price">
                  </div>
                  <div class="mb-3 col-md-6">
                    <label for="price" class="form-label">售價</label>
                    <input id="price" type="number" min="0" class="form-control"
                           placeholder="請輸入售價" v-model="tempProduct.price">
                  </div>
                </div>
                <hr>

                <div class="mb-3">
                  <label for="description" class="form-label">產品描述</label>
                  <textarea id="description" type="text" class="form-control"
                            placeholder="請輸入產品描述" v-model="tempProduct.description">
                  </textarea>
                </div>
                <div class="mb-3">
                  <label for="content" class="form-label">說明內容</label>
                  <textarea id="description" type="text" class="form-control"
                            placeholder="請輸入說明內容" v-model="tempProduct.content">
                  </textarea>
                </div>
                <div class="mb-3">
                  <div class="form-check">
                    <input id="is_enabled" class="form-check-input" type="checkbox"
                           :true-value="1" :false-value="0" v-model="tempProduct.is_enabled">
                    <label class="form-check-label" for="is_enabled">是否啟用</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!--data-bs-dismiss="modal"-->
            <button type="button" class="btn btn-outline-secondary" @click="closeModal">
              取消
            </button>
            <button type="button" class="btn btn-primary" @click="closeModal" id="confirmAddBtn">
              確認
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="delProductModal" ref="delProductModal" class="modal fade" tabindex="-1"
         aria-labelledby="delProductModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content border-0">
          <div class="modal-header bg-danger text-white">
            <h5 id="delProductModalLabel" class="modal-title">
              <span>刪除產品</span>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            是否刪除
            <strong class="text-danger"></strong> 商品(刪除後將無法恢復)。
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              取消
            </button>
            <button type="button" class="btn btn-danger">
              確認刪除
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
  </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js'
integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=='
crossorigin='anonymous'></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<script type="module">
  const api_Url = 'https://vue3-course-api.hexschool.io/v2/';
  const api_Path = 'lk1025cina';
  //練習modal
  const modalBtn = document.getElementById('modalBtn');
    modalBtn.addEventListener('click',(e)=>{
    console.log('你有點到');
  })
  //在此抓取觸發後才渲染的dom元素，是抓取不到的
  let myModal = ""; //先以空字串宣告，，須在mounted時賦值
  
  const test = document.querySelector('#test');
  //可用方法：myModal.toggle/ myModal.show/ myModal.hide

  //記得加上type="module"
  //引入Vue cdn 方法
  const { createApp } = Vue;
  //外部引入資料

// const cookieToken = document.cookie.replace(/(?:(?:^|.*;\s*)signInToken\s*\=\s*([^;]*).*$)|^.*$/, "$1");
// axios.defaults.headers.common['Authorization'] = cookieToken;
 //axios.get外部資料
 //Vue Option API 架構
 const App = {
  //資料
  data(){
    return{
      //產品集合資料格式;
      products:[],
      //單一產品物件
      tempProduct:{},
      //是否登入
      ifLoggedIn:false,
      ifManyImages:false,
      imgsUrl:""
    }
  },
  //方法函式
  methods:{
    //按鈕觸發：顯示單一產品細節
    viewProductDetail(item){
      //使用物件淺拷貝：避免物件傳參考
      this.tempProduct = { ...item };
      console.log(this.tempProduct);
    },
    deleteItem(item){
      //找到該產品id在資料集中的索引index
      alert('確認要刪除產品嗎？');
      const deleteId = this.products.findIndex(el => el.id == item.id)
      this.products.splice(deleteId, 1);
      this.tempProduct = {};
    },
    axiosGet(){
      //https://vue3-course-api.hexschool.io/v2/api/lk1025cina/products/all
      axios.get(`${api_Url}api/${api_Path}/products/all`)
      .then(res=>{
        console.log(res.data.products);
        this.products = res.data.products;
      })
      .catch(err=>{
        console.log(err.data)
      })
    },
    openModal(){
    console.log('有點到');
    myModal.show();
    },
    closeModal(){
    console.log('有關上');
    myModal.hide();
    },
    showImagesUrl(){
    console.log('想要新增更多圖片')
    this.ifManyImages = true;
    console.log(this.ifManyImages)
    },
    hideImagesUrl(){
    this.ifManyImages = false;   
    console.log('Been Hidden!')
    },
    addUrlInput(){
    //點擊後渲染
    console.log('想新增更多圖？')
    const morePic = document.querySelector('.morePic');
    let str = `<div class="mb-3 aidPic">
                        <label for="imageUrl" class="form-label">次要圖片</label>
                        <input type="text" class="form-control"
                               placeholder="請輸入圖片連結" v-model="imgsUrl">
                        </div>`;
    morePic.innerHTML += str;
    let aidPicsNodeList = document.querySelectorAll('.aidPic');
    let aidPicsNodeLen = aidPicsNodeList.length;
    console.log(aidPicsNodeLen);
    if(aidPicsNodeLen>4){
      alert('最多只能新增五張次要圖片！');
      morePic.removeChild(aidPicsNodeList[aidPicsNodeLen-1]);
    }
    },
    axiosPost(){
      //https://vue3-course-api.hexschool.io/v2/api/lk1025cina/admin/product
      axios.post()
    }
  },
  //生命週期
  //畫面生成後擷取dom元素：mounted(){}
  //像modal就會用到
  mounted(){
   //this.ifLoggedIn = true;
   //this.products = products;
   //this.checkLogged();
   this.axiosGet();
   //觸發後才渲染的時間順序的話，真正賦值要放在mounted
   //類似說法：modal等觸發後才會渲染，所以待他渲染後才抓取得到該dom元素
   const modal = document.getElementById('productModal');
   myModal = new bootstrap.Modal(modal);
   //確認新增產品-監聽事件
   const confirmAddBtn = document.getElementById('confirmAddBtn');
   confirmAddBtn.addEventListener('click',()=>{
    this.tempProduct.imagesUrl = [];
    this.tempProduct.imagesUrl.push(this.imgsUrl);//這邊要條件判斷，然後用forEach，不會寫
    console.log(this.tempProduct);
   })
  
   
  }
 }
//生成元件，掛載到html元素
 createApp(App).mount('#appTest');

</script>

    <footer class="footer">
    </footer>
   
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>