img {
  object-fit: contain;
  max-width: 100%;
}

.primary-image {
  height: 300px;
}

.images {
  height: 150px;
}

.footer{
  background: #55130A;
  height: 30px;
}

.navbar{
  background: #55130A;
  height: 50px;
}