<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-info">
      <div class="container-fluid" id="navBar">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item"v-if="ifLoggedIn">
              <a class="nav-link" href="./signIn.html">登出</a>
            </li>
            <li class="nav-item" v-else="ifLoggedIn">
              <a class="nav-link" href="./signIn.html">登入</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>

    <%- contents %>

    <footer class="footer">
    </footer>
   
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script type="module">
    const api_Url = 'https://vue3-course-api.hexschool.io/v2/';
    const api_Path = 'lk1025cina';
      const cookieToken = document.cookie.replace(/(?:(?:^|.*;\s*)signInToken\s*\=\s*([^;]*).*$)|^.*$/, "$1");
      axios.defaults.headers.common['Authorization'] = cookieToken;
      //調用Vue
      const { createApp } = Vue;
      //元件
      const nav = {
       data(){
        return{
        //是否登入
        ifLoggedIn:false
        }
       },
       methods:{
        //檢查是否登入
        checkLogged(){
      axios.post(`${api_Url}api/user/check`)
        .then(res=>{
            console.log(res.data);
            this.ifLoggedIn = true;
        })
        .catch(err =>{
            console.log(err.data);
        })
    }
       },
       //生命週期：初始化
       mounted(){
       this.checkLogged();
       }
      }
      //生成元件＋綁定html元素
      createApp(nav).mount('#navBar')
    </script>
  </body>

</html>